{% extends "products/base.html" %}

{% block title %}Warenkorb{% endblock %}

{% block content %}
<h1>Dein Warenkorb</h1>

{% if items %}
    <table class="table">
        <thead>
            <tr>
                <th>Produkt</th>
                <th>Preis</th>
                <th>Menge</th>
                <th>Gesamtpreis</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
                <tr>
                    <td>{{ item.product.name }}</td>
                    <td>{{ item.product.price }} €</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.get_total_price }} €</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <h3>Gesamtpreis: {{ cart.get_total_price }} €</h3>
    <a href="{% url 'checkout' %}" class="btn btn-success">Zur Kasse</a>
{% else %}
    <p>Dein Warenkorb ist leer.</p>
{% endif %}
{% endblock %}
